node_modules
dist
# .env            <-- REMOVED because we want to commit encrypted files
.env.keys
!.env.vault       <-- Optional if using vault, but standard is keep .env committed

.DS_Store
coverage
.vscode
.idea
*.log
apps/api/node_modules
.turbo
temp/
apps/api/temp/