node_modules
dist
# Environment files
# .env -> Allowed because it is encrypted
# .env
.env.production
.env.keys
!.env.vault

.DS_Store
package-lock.json
out/
.idea
*.log
apps/api/node_modules
.turbo
temp/
apps/api/temp/.env.production
