services:
  # --- INFRASTRUCTURE ---
  postgres:
    image: postgres:15-alpine
    container_name: proppio_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
      POSTGRES_DB: ${DB_NAME:-proppio_db}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  redis:
    image: redis:alpine
    container_name: proppio_redis
    restart: always
    volumes:
      - redis_data:/data
    networks:
      - app_network

  minio:
    image: minio/minio
    container_name: proppio_minio
    restart: always
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER:-minioadmin}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD:-minioadmin}
    command: [ "server", "/data", "--console-address", ":9001" ]
    volumes:
      - minio_data:/data
    networks:
      - app_network

  # --- APPLICATIONS ---
  api:
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
    container_name: proppio_api
    restart: always
    depends_on:
      - postgres
      - redis
    environment:
      - PORT=3000
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=${DB_USER:-postgres}
      - DB_PASSWORD=${DB_PASSWORD:-password}
      - DB_NAME=${DB_NAME:-proppio_db}
      - REDIS_HOST=redis
      - MINIO_ENDPOINT=minio
      - CORS_ORIGIN=http://localhost,https://app.tusass.com
      - JWT_SECRET=${JWT_SECRET:-supersecret}
      - RESEND_API_KEY=${RESEND_API_KEY}
      - MIKRO_ORM_USE_TS_NODE=false # Force use of JS migrations in prod
      - NODE_ENV=production
    networks:
      - app_network

  web:
    build:
      context: ./apps/web
      args:
        - VITE_API_URL=${VITE_API_URL}
    container_name: proppio_web
    restart: always
    expose:
      - "80" # Exposed only to Docker network, not to host
    depends_on:
      - api
    networks:
      - app_network

  # --- NGINX PROXY MANAGER ---
  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: proppio_nginx_proxy
    restart: always
    ports:
      - '80:80' # HTTP
      - '443:443' # HTTPS
      - '81:81' # Admin UI
    environment:
      DB_SQLITE_FILE: "/data/database.sqlite"
    volumes:
      - npm_data:/data
      - npm_letsencrypt:/etc/letsencrypt
    networks:
      - app_network

volumes:
  postgres_data:
  redis_data:
  minio_data:
  npm_data:
  npm_letsencrypt:


networks:
  app_network:
    driver: bridge
